$font-family: Arial, "Microsoft Yahei", "微软雅黑", "宋体" !important;

$blue-9e: #9ef3fe;
$blue-03: #0355cd;
$blue-1e: #1e549a;
$blue-2d: #2d90ec;
$blue-60:#60acf3;
$balck-00:#000000;
$white-f8:#f8f9fe;
$white-fd:#fdfdfd;
$white: rgba(255, 255, 255, 1);
$white-75: rgba(255, 255, 255, 0.75);


